<?php
/**
 * PdfApi
 * PHP version 5
 *
 * @category Class
 * @package  Aspose\PDF
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 *
 *   Copyright (c) 2018 Aspose.Pdf for Cloud
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Aspose\PDF\Api;

use \Aspose\PDF\ApiClient;
use \Aspose\PDF\ApiException;
use \Aspose\PDF\Configuration;
use \Aspose\PDF\ObjectSerializer;

/**
 * PdfApi Class Doc Comment
 *
 * @category Class
 * @package  Aspose\PDF
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class PdfApi
{
    /**
     * API Client
     *
     * @var \Aspose\PDF\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Aspose\PDF\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Aspose\PDF\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Aspose\PDF\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Aspose\PDF\ApiClient $apiClient set the API client
     *
     * @return PdfApi
     */
    public function setApiClient(\Aspose\PDF\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation deletePage
     *
     * Delete document page by its number.
     *
     * @param string $name The document name. (required)
     * @param int $page_number The page number. (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \Aspose\PDF\Model\SaaSposeResponse
     */
    public function deletePage($name, $page_number, $storage = null, $folder = null)
    {
        list($response) = $this->deletePageWithHttpInfo($name, $page_number, $storage, $folder);
        return $response;
    }

    /**
     * Operation deletePageWithHttpInfo
     *
     * Delete document page by its number.
     *
     * @param string $name The document name. (required)
     * @param int $page_number The page number. (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \Aspose\PDF\Model\SaaSposeResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function deletePageWithHttpInfo($name, $page_number, $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling deletePage');
        }
        // verify the required parameter 'page_number' is set
        if ($page_number === null) {
            throw new \InvalidArgumentException('Missing the required parameter $page_number when calling deletePage');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/pages/{pageNumber}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($page_number !== null) {
            $resourcePath = str_replace(
                "{" . "pageNumber" . "}",
                $this->apiClient->getSerializer()->toPathValue($page_number),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Aspose\PDF\Model\SaaSposeResponse',
                '/pdf/{name}/pages/{pageNumber}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Aspose\PDF\Model\SaaSposeResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Aspose\PDF\Model\SaaSposeResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteProperties
     *
     * Delete custom document properties.
     *
     * @param string $name  (required)
     * @param string $storage  (optional)
     * @param string $folder  (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \Aspose\PDF\Model\SaaSposeResponse
     */
    public function deleteProperties($name, $storage = null, $folder = null)
    {
        list($response) = $this->deletePropertiesWithHttpInfo($name, $storage, $folder);
        return $response;
    }

    /**
     * Operation deletePropertiesWithHttpInfo
     *
     * Delete custom document properties.
     *
     * @param string $name  (required)
     * @param string $storage  (optional)
     * @param string $folder  (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \Aspose\PDF\Model\SaaSposeResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function deletePropertiesWithHttpInfo($name, $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling deleteProperties');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/documentproperties";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Aspose\PDF\Model\SaaSposeResponse',
                '/pdf/{name}/documentproperties'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Aspose\PDF\Model\SaaSposeResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Aspose\PDF\Model\SaaSposeResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteProperty
     *
     * Delete document property.
     *
     * @param string $name  (required)
     * @param string $property_name  (required)
     * @param string $storage  (optional)
     * @param string $folder  (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \Aspose\PDF\Model\SaaSposeResponse
     */
    public function deleteProperty($name, $property_name, $storage = null, $folder = null)
    {
        list($response) = $this->deletePropertyWithHttpInfo($name, $property_name, $storage, $folder);
        return $response;
    }

    /**
     * Operation deletePropertyWithHttpInfo
     *
     * Delete document property.
     *
     * @param string $name  (required)
     * @param string $property_name  (required)
     * @param string $storage  (optional)
     * @param string $folder  (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \Aspose\PDF\Model\SaaSposeResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function deletePropertyWithHttpInfo($name, $property_name, $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling deleteProperty');
        }
        // verify the required parameter 'property_name' is set
        if ($property_name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $property_name when calling deleteProperty');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/documentproperties/{propertyName}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($property_name !== null) {
            $resourcePath = str_replace(
                "{" . "propertyName" . "}",
                $this->apiClient->getSerializer()->toPathValue($property_name),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Aspose\PDF\Model\SaaSposeResponse',
                '/pdf/{name}/documentproperties/{propertyName}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Aspose\PDF\Model\SaaSposeResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Aspose\PDF\Model\SaaSposeResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getDocument
     *
     * Read common document info or convert to some format if the format specified.
     *
     * @param string $name The document name. (required)
     * @param string $format The format to convert. (optional)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @param string $out_path Path to save result (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \SplFileObject
     */
    public function getDocument($name, $format = null, $storage = null, $folder = null, $out_path = null)
    {
        list($response) = $this->getDocumentWithHttpInfo($name, $format, $storage, $folder, $out_path);
        return $response;
    }

    /**
     * Operation getDocumentWithHttpInfo
     *
     * Read common document info or convert to some format if the format specified.
     *
     * @param string $name The document name. (required)
     * @param string $format The format to convert. (optional)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @param string $out_path Path to save result (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \SplFileObject, HTTP status code, HTTP response headers (array of strings)
     */
    public function getDocumentWithHttpInfo($name, $format = null, $storage = null, $folder = null, $out_path = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling getDocument');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['multipart/form-data']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($format !== null) {
            $queryParams['format'] = $this->apiClient->getSerializer()->toQueryValue($format);
        }
        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // query params
        if ($out_path !== null) {
            $queryParams['outPath'] = $this->apiClient->getSerializer()->toQueryValue($out_path);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\SplFileObject',
                '/pdf/{name}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\SplFileObject', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\SplFileObject', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getDocumentAttachmentByIndex
     *
     * Read document attachment info by its index.
     *
     * @param string $name The document name. (required)
     * @param int $attachment_index The attachment index. (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \Aspose\PDF\Model\AttachmentResponse
     */
    public function getDocumentAttachmentByIndex($name, $attachment_index, $storage = null, $folder = null)
    {
        list($response) = $this->getDocumentAttachmentByIndexWithHttpInfo($name, $attachment_index, $storage, $folder);
        return $response;
    }

    /**
     * Operation getDocumentAttachmentByIndexWithHttpInfo
     *
     * Read document attachment info by its index.
     *
     * @param string $name The document name. (required)
     * @param int $attachment_index The attachment index. (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \Aspose\PDF\Model\AttachmentResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getDocumentAttachmentByIndexWithHttpInfo($name, $attachment_index, $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling getDocumentAttachmentByIndex');
        }
        // verify the required parameter 'attachment_index' is set
        if ($attachment_index === null) {
            throw new \InvalidArgumentException('Missing the required parameter $attachment_index when calling getDocumentAttachmentByIndex');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/attachments/{attachmentIndex}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($attachment_index !== null) {
            $resourcePath = str_replace(
                "{" . "attachmentIndex" . "}",
                $this->apiClient->getSerializer()->toPathValue($attachment_index),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Aspose\PDF\Model\AttachmentResponse',
                '/pdf/{name}/attachments/{attachmentIndex}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Aspose\PDF\Model\AttachmentResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Aspose\PDF\Model\AttachmentResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getDocumentAttachments
     *
     * Read document attachments info.
     *
     * @param string $name The document name. (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \Aspose\PDF\Model\AttachmentsResponse
     */
    public function getDocumentAttachments($name, $storage = null, $folder = null)
    {
        list($response) = $this->getDocumentAttachmentsWithHttpInfo($name, $storage, $folder);
        return $response;
    }

    /**
     * Operation getDocumentAttachmentsWithHttpInfo
     *
     * Read document attachments info.
     *
     * @param string $name The document name. (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \Aspose\PDF\Model\AttachmentsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getDocumentAttachmentsWithHttpInfo($name, $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling getDocumentAttachments');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/attachments";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Aspose\PDF\Model\AttachmentsResponse',
                '/pdf/{name}/attachments'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Aspose\PDF\Model\AttachmentsResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Aspose\PDF\Model\AttachmentsResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getDocumentBookmarks
     *
     * Read document bookmark/bookmarks (including children).
     *
     * @param string $name The document name. (required)
     * @param string $bookmark_path The bookmark path. Leave it empty if you want to get all the bookmarks in the document. (optional)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \SplFileObject
     */
    public function getDocumentBookmarks($name, $bookmark_path = null, $storage = null, $folder = null)
    {
        list($response) = $this->getDocumentBookmarksWithHttpInfo($name, $bookmark_path, $storage, $folder);
        return $response;
    }

    /**
     * Operation getDocumentBookmarksWithHttpInfo
     *
     * Read document bookmark/bookmarks (including children).
     *
     * @param string $name The document name. (required)
     * @param string $bookmark_path The bookmark path. Leave it empty if you want to get all the bookmarks in the document. (optional)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \SplFileObject, HTTP status code, HTTP response headers (array of strings)
     */
    public function getDocumentBookmarksWithHttpInfo($name, $bookmark_path = null, $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling getDocumentBookmarks');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/bookmarks";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['multipart/form-data']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($bookmark_path !== null) {
            $queryParams['bookmarkPath'] = $this->apiClient->getSerializer()->toQueryValue($bookmark_path);
        }
        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\SplFileObject',
                '/pdf/{name}/bookmarks'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\SplFileObject', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\SplFileObject', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getDocumentProperties
     *
     * Read document properties.
     *
     * @param string $name  (required)
     * @param string $storage  (optional)
     * @param string $folder  (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \Aspose\PDF\Model\DocumentPropertiesResponse
     */
    public function getDocumentProperties($name, $storage = null, $folder = null)
    {
        list($response) = $this->getDocumentPropertiesWithHttpInfo($name, $storage, $folder);
        return $response;
    }

    /**
     * Operation getDocumentPropertiesWithHttpInfo
     *
     * Read document properties.
     *
     * @param string $name  (required)
     * @param string $storage  (optional)
     * @param string $folder  (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \Aspose\PDF\Model\DocumentPropertiesResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getDocumentPropertiesWithHttpInfo($name, $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling getDocumentProperties');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/documentproperties";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Aspose\PDF\Model\DocumentPropertiesResponse',
                '/pdf/{name}/documentproperties'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Aspose\PDF\Model\DocumentPropertiesResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Aspose\PDF\Model\DocumentPropertiesResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getDocumentProperty
     *
     * Read document property by name.
     *
     * @param string $name  (required)
     * @param string $property_name  (required)
     * @param string $storage  (optional)
     * @param string $folder  (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \Aspose\PDF\Model\DocumentPropertyResponse
     */
    public function getDocumentProperty($name, $property_name, $storage = null, $folder = null)
    {
        list($response) = $this->getDocumentPropertyWithHttpInfo($name, $property_name, $storage, $folder);
        return $response;
    }

    /**
     * Operation getDocumentPropertyWithHttpInfo
     *
     * Read document property by name.
     *
     * @param string $name  (required)
     * @param string $property_name  (required)
     * @param string $storage  (optional)
     * @param string $folder  (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \Aspose\PDF\Model\DocumentPropertyResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getDocumentPropertyWithHttpInfo($name, $property_name, $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling getDocumentProperty');
        }
        // verify the required parameter 'property_name' is set
        if ($property_name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $property_name when calling getDocumentProperty');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/documentproperties/{propertyName}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($property_name !== null) {
            $resourcePath = str_replace(
                "{" . "propertyName" . "}",
                $this->apiClient->getSerializer()->toPathValue($property_name),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Aspose\PDF\Model\DocumentPropertyResponse',
                '/pdf/{name}/documentproperties/{propertyName}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Aspose\PDF\Model\DocumentPropertyResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Aspose\PDF\Model\DocumentPropertyResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getDownload
     *
     * Download a specific file
     *
     * @param string $path Path of the file including the file name and extension e.g. /file.ext (required)
     * @param string $version_id File&#39;s version (optional)
     * @param string $storage User&#39;s storage name (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \SplFileObject
     */
    public function getDownload($path, $version_id = null, $storage = null)
    {
        list($response) = $this->getDownloadWithHttpInfo($path, $version_id, $storage);
        return $response;
    }

    /**
     * Operation getDownloadWithHttpInfo
     *
     * Download a specific file
     *
     * @param string $path Path of the file including the file name and extension e.g. /file.ext (required)
     * @param string $version_id File&#39;s version (optional)
     * @param string $storage User&#39;s storage name (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \SplFileObject, HTTP status code, HTTP response headers (array of strings)
     */
    public function getDownloadWithHttpInfo($path, $version_id = null, $storage = null)
    {
        // verify the required parameter 'path' is set
        if ($path === null) {
            throw new \InvalidArgumentException('Missing the required parameter $path when calling getDownload');
        }
        // parse inputs
        $resourcePath = "/storage/file";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['multipart/form-data']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($path !== null) {
            $queryParams['path'] = $this->apiClient->getSerializer()->toQueryValue($path);
        }
        // query params
        if ($version_id !== null) {
            $queryParams['versionId'] = $this->apiClient->getSerializer()->toQueryValue($version_id);
        }
        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\SplFileObject',
                '/storage/file'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\SplFileObject', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\SplFileObject', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\SplFileObject', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\SplFileObject', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getDownloadDocumentAttachmentByIndex
     *
     * Download document attachment content by its index.
     *
     * @param string $name The document name. (required)
     * @param int $attachment_index The attachment index. (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \SplFileObject
     */
    public function getDownloadDocumentAttachmentByIndex($name, $attachment_index, $storage = null, $folder = null)
    {
        list($response) = $this->getDownloadDocumentAttachmentByIndexWithHttpInfo($name, $attachment_index, $storage, $folder);
        return $response;
    }

    /**
     * Operation getDownloadDocumentAttachmentByIndexWithHttpInfo
     *
     * Download document attachment content by its index.
     *
     * @param string $name The document name. (required)
     * @param int $attachment_index The attachment index. (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \SplFileObject, HTTP status code, HTTP response headers (array of strings)
     */
    public function getDownloadDocumentAttachmentByIndexWithHttpInfo($name, $attachment_index, $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling getDownloadDocumentAttachmentByIndex');
        }
        // verify the required parameter 'attachment_index' is set
        if ($attachment_index === null) {
            throw new \InvalidArgumentException('Missing the required parameter $attachment_index when calling getDownloadDocumentAttachmentByIndex');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/attachments/{attachmentIndex}/download";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['multipart/form-data']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($attachment_index !== null) {
            $resourcePath = str_replace(
                "{" . "attachmentIndex" . "}",
                $this->apiClient->getSerializer()->toPathValue($attachment_index),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\SplFileObject',
                '/pdf/{name}/attachments/{attachmentIndex}/download'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\SplFileObject', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\SplFileObject', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getField
     *
     * Get document field by name.
     *
     * @param string $name The document name. (required)
     * @param string $field_name The field name/ (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \Aspose\PDF\Model\FieldResponse
     */
    public function getField($name, $field_name, $storage = null, $folder = null)
    {
        list($response) = $this->getFieldWithHttpInfo($name, $field_name, $storage, $folder);
        return $response;
    }

    /**
     * Operation getFieldWithHttpInfo
     *
     * Get document field by name.
     *
     * @param string $name The document name. (required)
     * @param string $field_name The field name/ (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \Aspose\PDF\Model\FieldResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getFieldWithHttpInfo($name, $field_name, $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling getField');
        }
        // verify the required parameter 'field_name' is set
        if ($field_name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $field_name when calling getField');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/fields/{fieldName}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($field_name !== null) {
            $resourcePath = str_replace(
                "{" . "fieldName" . "}",
                $this->apiClient->getSerializer()->toPathValue($field_name),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Aspose\PDF\Model\FieldResponse',
                '/pdf/{name}/fields/{fieldName}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Aspose\PDF\Model\FieldResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Aspose\PDF\Model\FieldResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getFields
     *
     * Get document fields.
     *
     * @param string $name The document name. (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \Aspose\PDF\Model\FieldsResponse
     */
    public function getFields($name, $storage = null, $folder = null)
    {
        list($response) = $this->getFieldsWithHttpInfo($name, $storage, $folder);
        return $response;
    }

    /**
     * Operation getFieldsWithHttpInfo
     *
     * Get document fields.
     *
     * @param string $name The document name. (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \Aspose\PDF\Model\FieldsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getFieldsWithHttpInfo($name, $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling getFields');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/fields";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Aspose\PDF\Model\FieldsResponse',
                '/pdf/{name}/fields'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Aspose\PDF\Model\FieldsResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Aspose\PDF\Model\FieldsResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getFragment
     *
     * Read page fragment.
     *
     * @param string $name  (required)
     * @param int $page_number  (required)
     * @param int $fragment_number  (required)
     * @param string $with_empty  (optional)
     * @param string $storage  (optional)
     * @param string $folder  (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \Aspose\PDF\Model\TextItemsResponse
     */
    public function getFragment($name, $page_number, $fragment_number, $with_empty = null, $storage = null, $folder = null)
    {
        list($response) = $this->getFragmentWithHttpInfo($name, $page_number, $fragment_number, $with_empty, $storage, $folder);
        return $response;
    }

    /**
     * Operation getFragmentWithHttpInfo
     *
     * Read page fragment.
     *
     * @param string $name  (required)
     * @param int $page_number  (required)
     * @param int $fragment_number  (required)
     * @param string $with_empty  (optional)
     * @param string $storage  (optional)
     * @param string $folder  (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \Aspose\PDF\Model\TextItemsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getFragmentWithHttpInfo($name, $page_number, $fragment_number, $with_empty = null, $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling getFragment');
        }
        // verify the required parameter 'page_number' is set
        if ($page_number === null) {
            throw new \InvalidArgumentException('Missing the required parameter $page_number when calling getFragment');
        }
        // verify the required parameter 'fragment_number' is set
        if ($fragment_number === null) {
            throw new \InvalidArgumentException('Missing the required parameter $fragment_number when calling getFragment');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/pages/{pageNumber}/fragments/{fragmentNumber}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($with_empty !== null) {
            $queryParams['withEmpty'] = $this->apiClient->getSerializer()->toQueryValue($with_empty);
        }
        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($page_number !== null) {
            $resourcePath = str_replace(
                "{" . "pageNumber" . "}",
                $this->apiClient->getSerializer()->toPathValue($page_number),
                $resourcePath
            );
        }
        // path params
        if ($fragment_number !== null) {
            $resourcePath = str_replace(
                "{" . "fragmentNumber" . "}",
                $this->apiClient->getSerializer()->toPathValue($fragment_number),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Aspose\PDF\Model\TextItemsResponse',
                '/pdf/{name}/pages/{pageNumber}/fragments/{fragmentNumber}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Aspose\PDF\Model\TextItemsResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Aspose\PDF\Model\TextItemsResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getFragmentTextFormat
     *
     * Read page fragment text format.
     *
     * @param string $name  (required)
     * @param int $page_number  (required)
     * @param int $fragment_number  (required)
     * @param string $storage  (optional)
     * @param string $folder  (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \Aspose\PDF\Model\TextFormatResponse
     */
    public function getFragmentTextFormat($name, $page_number, $fragment_number, $storage = null, $folder = null)
    {
        list($response) = $this->getFragmentTextFormatWithHttpInfo($name, $page_number, $fragment_number, $storage, $folder);
        return $response;
    }

    /**
     * Operation getFragmentTextFormatWithHttpInfo
     *
     * Read page fragment text format.
     *
     * @param string $name  (required)
     * @param int $page_number  (required)
     * @param int $fragment_number  (required)
     * @param string $storage  (optional)
     * @param string $folder  (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \Aspose\PDF\Model\TextFormatResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getFragmentTextFormatWithHttpInfo($name, $page_number, $fragment_number, $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling getFragmentTextFormat');
        }
        // verify the required parameter 'page_number' is set
        if ($page_number === null) {
            throw new \InvalidArgumentException('Missing the required parameter $page_number when calling getFragmentTextFormat');
        }
        // verify the required parameter 'fragment_number' is set
        if ($fragment_number === null) {
            throw new \InvalidArgumentException('Missing the required parameter $fragment_number when calling getFragmentTextFormat');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/pages/{pageNumber}/fragments/{fragmentNumber}/textFormat";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($page_number !== null) {
            $resourcePath = str_replace(
                "{" . "pageNumber" . "}",
                $this->apiClient->getSerializer()->toPathValue($page_number),
                $resourcePath
            );
        }
        // path params
        if ($fragment_number !== null) {
            $resourcePath = str_replace(
                "{" . "fragmentNumber" . "}",
                $this->apiClient->getSerializer()->toPathValue($fragment_number),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Aspose\PDF\Model\TextFormatResponse',
                '/pdf/{name}/pages/{pageNumber}/fragments/{fragmentNumber}/textFormat'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Aspose\PDF\Model\TextFormatResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Aspose\PDF\Model\TextFormatResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getFragments
     *
     * Read page fragments.
     *
     * @param string $name  (required)
     * @param int $page_number  (required)
     * @param string $with_empty  (optional)
     * @param string $storage  (optional)
     * @param string $folder  (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \Aspose\PDF\Model\TextItemsResponse
     */
    public function getFragments($name, $page_number, $with_empty = null, $storage = null, $folder = null)
    {
        list($response) = $this->getFragmentsWithHttpInfo($name, $page_number, $with_empty, $storage, $folder);
        return $response;
    }

    /**
     * Operation getFragmentsWithHttpInfo
     *
     * Read page fragments.
     *
     * @param string $name  (required)
     * @param int $page_number  (required)
     * @param string $with_empty  (optional)
     * @param string $storage  (optional)
     * @param string $folder  (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \Aspose\PDF\Model\TextItemsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getFragmentsWithHttpInfo($name, $page_number, $with_empty = null, $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling getFragments');
        }
        // verify the required parameter 'page_number' is set
        if ($page_number === null) {
            throw new \InvalidArgumentException('Missing the required parameter $page_number when calling getFragments');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/pages/{pageNumber}/fragments";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($with_empty !== null) {
            $queryParams['withEmpty'] = $this->apiClient->getSerializer()->toQueryValue($with_empty);
        }
        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($page_number !== null) {
            $resourcePath = str_replace(
                "{" . "pageNumber" . "}",
                $this->apiClient->getSerializer()->toPathValue($page_number),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Aspose\PDF\Model\TextItemsResponse',
                '/pdf/{name}/pages/{pageNumber}/fragments'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Aspose\PDF\Model\TextItemsResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Aspose\PDF\Model\TextItemsResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getImage
     *
     * Extract document image in format specified.
     *
     * @param string $name The document name. (required)
     * @param int $page_number The page number. (required)
     * @param int $image_number The image format. (required)
     * @param string $format Image format to convert, if not specified the common image data is read. (optional)
     * @param int $width The converted image width. (optional, default to 0)
     * @param int $height The converted image height. (optional, default to 0)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \SplFileObject
     */
    public function getImage($name, $page_number, $image_number, $format = null, $width = '0', $height = '0', $storage = null, $folder = null)
    {
        list($response) = $this->getImageWithHttpInfo($name, $page_number, $image_number, $format, $width, $height, $storage, $folder);
        return $response;
    }

    /**
     * Operation getImageWithHttpInfo
     *
     * Extract document image in format specified.
     *
     * @param string $name The document name. (required)
     * @param int $page_number The page number. (required)
     * @param int $image_number The image format. (required)
     * @param string $format Image format to convert, if not specified the common image data is read. (optional)
     * @param int $width The converted image width. (optional, default to 0)
     * @param int $height The converted image height. (optional, default to 0)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \SplFileObject, HTTP status code, HTTP response headers (array of strings)
     */
    public function getImageWithHttpInfo($name, $page_number, $image_number, $format = null, $width = '0', $height = '0', $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling getImage');
        }
        // verify the required parameter 'page_number' is set
        if ($page_number === null) {
            throw new \InvalidArgumentException('Missing the required parameter $page_number when calling getImage');
        }
        // verify the required parameter 'image_number' is set
        if ($image_number === null) {
            throw new \InvalidArgumentException('Missing the required parameter $image_number when calling getImage');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/pages/{pageNumber}/images/{imageNumber}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['multipart/form-data']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($format !== null) {
            $queryParams['format'] = $this->apiClient->getSerializer()->toQueryValue($format);
        }
        // query params
        if ($width !== null) {
            $queryParams['width'] = $this->apiClient->getSerializer()->toQueryValue($width);
        }
        // query params
        if ($height !== null) {
            $queryParams['height'] = $this->apiClient->getSerializer()->toQueryValue($height);
        }
        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($page_number !== null) {
            $resourcePath = str_replace(
                "{" . "pageNumber" . "}",
                $this->apiClient->getSerializer()->toPathValue($page_number),
                $resourcePath
            );
        }
        // path params
        if ($image_number !== null) {
            $resourcePath = str_replace(
                "{" . "imageNumber" . "}",
                $this->apiClient->getSerializer()->toPathValue($image_number),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\SplFileObject',
                '/pdf/{name}/pages/{pageNumber}/images/{imageNumber}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\SplFileObject', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\SplFileObject', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getImages
     *
     * Read document images.
     *
     * @param string $name The document name. (required)
     * @param int $page_number The page number. (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \Aspose\PDF\Model\ImagesResponse
     */
    public function getImages($name, $page_number, $storage = null, $folder = null)
    {
        list($response) = $this->getImagesWithHttpInfo($name, $page_number, $storage, $folder);
        return $response;
    }

    /**
     * Operation getImagesWithHttpInfo
     *
     * Read document images.
     *
     * @param string $name The document name. (required)
     * @param int $page_number The page number. (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \Aspose\PDF\Model\ImagesResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getImagesWithHttpInfo($name, $page_number, $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling getImages');
        }
        // verify the required parameter 'page_number' is set
        if ($page_number === null) {
            throw new \InvalidArgumentException('Missing the required parameter $page_number when calling getImages');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/pages/{pageNumber}/images";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($page_number !== null) {
            $resourcePath = str_replace(
                "{" . "pageNumber" . "}",
                $this->apiClient->getSerializer()->toPathValue($page_number),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Aspose\PDF\Model\ImagesResponse',
                '/pdf/{name}/pages/{pageNumber}/images'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Aspose\PDF\Model\ImagesResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Aspose\PDF\Model\ImagesResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getPage
     *
     * Convert document page to format specified.
     *
     * @param string $name The document name. (required)
     * @param int $page_number The page number. (required)
     * @param string $format The format to convert if specified. (optional)
     * @param int $width The converted image width. (optional, default to 0)
     * @param int $height The converted image height. (optional, default to 0)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \SplFileObject
     */
    public function getPage($name, $page_number, $format = null, $width = '0', $height = '0', $storage = null, $folder = null)
    {
        list($response) = $this->getPageWithHttpInfo($name, $page_number, $format, $width, $height, $storage, $folder);
        return $response;
    }

    /**
     * Operation getPageWithHttpInfo
     *
     * Convert document page to format specified.
     *
     * @param string $name The document name. (required)
     * @param int $page_number The page number. (required)
     * @param string $format The format to convert if specified. (optional)
     * @param int $width The converted image width. (optional, default to 0)
     * @param int $height The converted image height. (optional, default to 0)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \SplFileObject, HTTP status code, HTTP response headers (array of strings)
     */
    public function getPageWithHttpInfo($name, $page_number, $format = null, $width = '0', $height = '0', $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling getPage');
        }
        // verify the required parameter 'page_number' is set
        if ($page_number === null) {
            throw new \InvalidArgumentException('Missing the required parameter $page_number when calling getPage');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/pages/{pageNumber}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($format !== null) {
            $queryParams['format'] = $this->apiClient->getSerializer()->toQueryValue($format);
        }
        // query params
        if ($width !== null) {
            $queryParams['width'] = $this->apiClient->getSerializer()->toQueryValue($width);
        }
        // query params
        if ($height !== null) {
            $queryParams['height'] = $this->apiClient->getSerializer()->toQueryValue($height);
        }
        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($page_number !== null) {
            $resourcePath = str_replace(
                "{" . "pageNumber" . "}",
                $this->apiClient->getSerializer()->toPathValue($page_number),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\SplFileObject',
                '/pdf/{name}/pages/{pageNumber}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\SplFileObject', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\SplFileObject', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getPageAnnotation
     *
     * Read document page annotation by its number.
     *
     * @param string $name The document name. (required)
     * @param int $page_number The page number. (required)
     * @param int $annotation_number The annotation number. (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \Aspose\PDF\Model\AnnotationResponse
     */
    public function getPageAnnotation($name, $page_number, $annotation_number, $storage = null, $folder = null)
    {
        list($response) = $this->getPageAnnotationWithHttpInfo($name, $page_number, $annotation_number, $storage, $folder);
        return $response;
    }

    /**
     * Operation getPageAnnotationWithHttpInfo
     *
     * Read document page annotation by its number.
     *
     * @param string $name The document name. (required)
     * @param int $page_number The page number. (required)
     * @param int $annotation_number The annotation number. (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \Aspose\PDF\Model\AnnotationResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getPageAnnotationWithHttpInfo($name, $page_number, $annotation_number, $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling getPageAnnotation');
        }
        // verify the required parameter 'page_number' is set
        if ($page_number === null) {
            throw new \InvalidArgumentException('Missing the required parameter $page_number when calling getPageAnnotation');
        }
        // verify the required parameter 'annotation_number' is set
        if ($annotation_number === null) {
            throw new \InvalidArgumentException('Missing the required parameter $annotation_number when calling getPageAnnotation');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/pages/{pageNumber}/annotations/{annotationNumber}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($page_number !== null) {
            $resourcePath = str_replace(
                "{" . "pageNumber" . "}",
                $this->apiClient->getSerializer()->toPathValue($page_number),
                $resourcePath
            );
        }
        // path params
        if ($annotation_number !== null) {
            $resourcePath = str_replace(
                "{" . "annotationNumber" . "}",
                $this->apiClient->getSerializer()->toPathValue($annotation_number),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Aspose\PDF\Model\AnnotationResponse',
                '/pdf/{name}/pages/{pageNumber}/annotations/{annotationNumber}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Aspose\PDF\Model\AnnotationResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Aspose\PDF\Model\AnnotationResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getPageAnnotations
     *
     * Read documant page annotations.
     *
     * @param string $name The document name. (required)
     * @param int $page_number The page number. (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \Aspose\PDF\Model\AnnotationsResponse
     */
    public function getPageAnnotations($name, $page_number, $storage = null, $folder = null)
    {
        list($response) = $this->getPageAnnotationsWithHttpInfo($name, $page_number, $storage, $folder);
        return $response;
    }

    /**
     * Operation getPageAnnotationsWithHttpInfo
     *
     * Read documant page annotations.
     *
     * @param string $name The document name. (required)
     * @param int $page_number The page number. (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \Aspose\PDF\Model\AnnotationsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getPageAnnotationsWithHttpInfo($name, $page_number, $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling getPageAnnotations');
        }
        // verify the required parameter 'page_number' is set
        if ($page_number === null) {
            throw new \InvalidArgumentException('Missing the required parameter $page_number when calling getPageAnnotations');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/pages/{pageNumber}/annotations";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($page_number !== null) {
            $resourcePath = str_replace(
                "{" . "pageNumber" . "}",
                $this->apiClient->getSerializer()->toPathValue($page_number),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Aspose\PDF\Model\AnnotationsResponse',
                '/pdf/{name}/pages/{pageNumber}/annotations'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Aspose\PDF\Model\AnnotationsResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Aspose\PDF\Model\AnnotationsResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getPageLinkAnnotationByIndex
     *
     * Read document page link annotation by its index.
     *
     * @param string $name The document name. (required)
     * @param int $page_number The page number. (required)
     * @param int $link_index The link index. (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return \Aspose\PDF\Model\LinkAnnotationResponse
     */
    public function getPageLinkAnnotationByIndex($name, $page_number, $link_index, $storage = null, $folder = null)
    {
        list($response) = $this->getPageLinkAnnotationByIndexWithHttpInfo($name, $page_number, $link_index, $storage, $folder);
        return $response;
    }

    /**
     * Operation getPageLinkAnnotationByIndexWithHttpInfo
     *
     * Read document page link annotation by its index.
     *
     * @param string $name The document name. (required)
     * @param int $page_number The page number. (required)
     * @param int $link_index The link index. (required)
     * @param string $storage The document storage. (optional)
     * @param string $folder The document folder. (optional)
     * @throws \Aspose\PDF\ApiException on non-2xx response
     * @return array of \Aspose\PDF\Model\LinkAnnotationResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getPageLinkAnnotationByIndexWithHttpInfo($name, $page_number, $link_index, $storage = null, $folder = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling getPageLinkAnnotationByIndex');
        }
        // verify the required parameter 'page_number' is set
        if ($page_number === null) {
            throw new \InvalidArgumentException('Missing the required parameter $page_number when calling getPageLinkAnnotationByIndex');
        }
        // verify the required parameter 'link_index' is set
        if ($link_index === null) {
            throw new \InvalidArgumentException('Missing the required parameter $link_index when calling getPageLinkAnnotationByIndex');
        }
        // parse inputs
        $resourcePath = "/pdf/{name}/pages/{pageNumber}/links/{linkIndex}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($storage !== null) {
            $queryParams['storage'] = $this->apiClient->getSerializer()->toQueryValue($storage);
        }
        // query params
        if ($folder !== null) {
            $queryParams['folder'] = $this->apiClient->getSerializer()->toQueryValue($folder);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($page_number !== null) {
            $resourcePath = str_replace(
                "{" . "pageNumber" . "}",
                $this->apiClient->getSerializer()->toPathValue($page_number),
                $resourcePath
            );
        }
        // path params
        if ($link_index !== null) {
            $resourcePath = str_replace(
                "{" . "linkIndex" . "}",
                $this->apiClient->getSerializer()->toPathValue($link_index),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Aspose\PDF\Model\LinkAnnotationResponse',
                '/pdf/{name}/pages/{pageNumber}/links/{linkIndex}'
            );

[...]
